<div class="row" style="margin-top:50px;">
    
		<div id="myCarousel" class="carousel slide carousel-fade">



        <a href="#">
          <img id="first-slide" src="{{ "npc-01.jpg" | asset_url }}" alt="">
        </a>

    		<!-- Wrapper for slides -->
    		<div class="carousel-inner">
         
	        <div class="item active">
	          <img src="{{ "npc-01.gif" | asset_url }}" alt="">
	          <div class="carousel-caption"></div>
	        </div><!-- End Item -->

	        <div class="item">
	          <img src="{{ "npc-02.gif" | asset_url }}" alt="">
	          <div class="carousel-caption"></div>
	        </div><!-- End Item -->

	        <div class="item">
	          <img src="{{ "npc-03.gif" | asset_url }}" alt="">
	          <div class="carousel-caption"></div>
	        </div><!-- End Item -->

	        <div class="item">
            <a href="#calculator">
	           <img src="{{ "npc-04.gif" | asset_url }}" alt="">
            </a>
	          <div class="carousel-caption"></div>
	        </div><!-- End Item -->
					
					<!-- <div class="item">
	          <img src="{{ "npc-07.jpg" | asset_url }}" alt="">
	          <div class="carousel-caption"></div>
	        </div>

	        <div id="last-slide" class="item">
	        	<a href="#calculator">
	          <img src="{{ "npc-08.gif" | asset_url }}" alt="">
	          </a>
	          <div class="carousel-caption"></div>
	        </div> -->
              
    		</div><!-- End Carousel Inner -->
      
      <!-- Progress Bar -->
      <!-- <hr class="transition-timer-carousel-progress-bar" /> -->

    	<!-- Additional Controls -->
    	<!-- <div id="carouselButtons">
        <button id="prevButton" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-step-backward"></span>
         </button>
  	    <button id="playButton" type="button" class="btn btn-default btn-xs">
  	        <span class="glyphicon glyphicon-play"></span>
  	     </button>
  	    <button id="pauseButton" type="button" class="btn btn-default btn-xs">
  	        <span class="glyphicon glyphicon-pause"></span>
  	    </button>
        <button id="nextButton" type="button" class="btn btn-default btn-xs">
            <span class="glyphicon glyphicon-step-forward"></span>
         </button>
    	</div> -->
      
      <div id="carouselButtons">
        <div id="prevBtn" class="col-sm-4 btn btn-default btn-xs slideCtrl">
          <img src="{{ "arrow-left.png" | asset_url }}" alt="">
        </div>
        <div id="pauseBtn" class="col-sm-4 btn btn-default btn-xs slideCtrl">
          <img src="{{ "pause.png" | asset_url }}" alt="">
        </div>
        <div id="nextBtn" class="col-sm-4 btn btn-default btn-xs slideCtrl">
          <img src="{{ "arrow-right.png" | asset_url }}" alt="">
        </div>
      </div>

		</div><!-- End Carousel -->